@import 'css/utils.scss';

.body-tiny {
  font-size: $font-size-desktop-tiny-body;
  font-weight: $font-weight-normal;
  font-family: $font-family;
  line-height: $p4-line-height;
  color: $black;
}

.body-small {
  font-size: $font-size-mobile-small-body;
  font-weight: $font-weight-normal;
  font-family: $font-family;
  line-height: $p3-line-height;

  @include mq($from: tablet) {
    font-size: $font-size-desktop-small-body;
  }
}

.body-regular {
  font-size: $font-size-mobile-regular-body;
  font-weight: $font-weight-normal;
  font-family: $font-family;
  line-height: $p2-line-height;

  @include mq($from: tablet) {
    font-size: $font-size-desktop-regular-body;
  }
}

.body-large {
  font-size: $font-size-mobile-large-body;
  font-weight: $font-weight-normal;
  font-family: $font-family;
  line-height: $p1-line-height;

  @include mq($from: tablet) {
    font-size: $font-size-desktop-large-body;
  }
}

.heading-0 {
  font-size: $font-size-mobile-h0;
  font-weight: $font-weight-black;
  font-family: $font-family;
  line-height: normal;
  width: fit-content;

  @include mq($from: tablet) {
    font-size: $font-size-desktop-h0;
  }
}

.heading-1 {
  font-size: $font-size-mobile-h1;
  font-weight: $font-weight-black;
  font-family: $font-family;
  line-height: normal;
  width: fit-content;

  @include mq($from: tablet) {
    font-size: $font-size-desktop-h1;
  }
}

.heading-2 {
  font-size: $font-size-mobile-h2;
  font-weight: $font-weight-extrabold;
  font-family: $font-family;
  line-height: normal;
  width: fit-content;

  @include mq($from: tablet) {
    font-size: $font-size-desktop-h2;
  }

  &.highlight::after {
    height: 21px;
  }
}

.heading-3 {
  font-size: $font-size-mobile-h3;
  font-weight: $font-weight-bold;
  font-family: $font-family;
  line-height: normal;
  width: fit-content;

  @include mq($from: tablet) {
    font-size: $font-size-desktop-h3;
  }

  &.highlight::after {
    height: 18px;
  }
}

.heading-4 {
  font-size: $font-size-mobile-h4;
  font-weight: $font-weight-bold;
  font-family: $font-family;
  line-height: normal;

  @include mq($from: tablet) {
    font-size: $font-size-desktop-h4;
  }
}

.heading-5 {
  font-size: $font-size-desktop-h5;
  font-weight: $font-weight-bold;
  font-family: $font-family;
  line-height: normal;
  width: fit-content;
}

.heading-6 {
  font-size: $font-size-desktop-h6;
  font-weight: $font-weight-bold;
  font-family: $font-family;
  line-height: normal;
  width: fit-content;
}

.white {
  color: $white;
}

.black {
  color: $black;
}

.grey {
  color: $grey;
}

.blue {
  color: $blue;
}

.red { color: $red; }

.dark-blue {
  color: $dark-blue;
}

.darkest-grey {
  color: $darkest-grey;
}

.another-grey {
  color: $another-grey;
}

.weight {
  &-hairline {
    font-weight: 100;
  }
  &-extralight {
    font-weight: 200;
  }
  &-light {
    font-weight: 300;
  }
  &-normal {
    font-weight: 400;
  }
  &-medium {
    font-weight: 500;
  }
  &-semibold {
    font-weight: 600;
  }
  &-bold {
    font-weight: 700;
  }
  &-extrabold {
    font-weight: 800;
  }
  &-black {
    font-weight: 900;
  }
}

.align {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

.font {
  &-lato {
    font-family: $font-family;
  }
  &-ballpen {
    font-family: 'Ball-Pen-Regular'
  }
}

.highlight {
  transform-style: preserve-3d;
  display: inline;
  position: relative;
  &::after {
    border-radius: 5px;
    content: "";
    position: absolute;
    left: 0;
    transform: translate3d(-2.5%, 0, -1px);
    bottom: -3px;
    z-index: -1;
    width: 105%;
    height: 24px;
    // background-color: #feca33;
  }
}
