// platform colors
$black: #000000;
$white: #FFFFFF;
$ivory: #F6F4F2;
$lightest-grey: #F2F2F2;
$extra-light-grey: #F9F9F9;
$light-grey: #E7E5DD;
$light-medium-grey: #D8D8D8;
$medium-grey: #D8D6D0;
$general-grey: #CCCCCC;
$grey: #9F9F9F;
$dark-grey: #B5B4AE;
$another-grey: #ABABAB;
$red: #FF4343;
$dark-red: #E53E3E;
$lightest-grey-blue: #E6EDF6;
$light-grey-blue: #EBEDF0;
$inputGrey: #DDDDDD;
$generalGrey: #CCCCCC;
$medium-grey-blue: #D3D5D8;
$blue: #5486BF;
$blue2: #7B92AB;
$blue3: #EBEDF0;
$super-dark-blue: #1F2532;
$medium-grey-blue: #D3D5D8;
$desaturated-dark-blue: #5D6D93;
$desaturated-blue: #6793c6;
$darkest-grey: #686B77;
$dark-blue: #1F2532;
