$mobile-breakpoint: 320px;
$lg-mobile-breakpoint: 400px;
$tablet-breakpoint: 769px;
$desktop-breakpoint: 1024px;
$lg-desktop-breakpoint: 1540px;

$grid-max-width: 1440px;

$mq-breakpoints: (
  mobile: $mobile-breakpoint,
  lg_mobile: $lg-mobile-breakpoint,
  tablet: $tablet-breakpoint,
  desktop: $desktop-breakpoint,
  lg_desktop: $lg-desktop-breakpoint
);

@import 'sass-mq';
