// sizes-mobile
$font-size-mobile-h0: 38px;
$font-size-mobile-h1: 32px;
$font-size-mobile-h2: 28px;
$font-size-mobile-h3: 24px;
$font-size-mobile-h4: 18px;
$font-size-mobile-large-body: 16px;
$font-size-mobile-regular-body: 14px;
$font-size-mobile-small-body: 12px;

// sizes-desktop
$font-size-desktop-h0: 42px;
$font-size-desktop-h1: 42px;
$font-size-desktop-h2: 32px;
$font-size-desktop-h3: 28px;
$font-size-desktop-h4: 24px;
$font-size-desktop-h5: 22px;
$font-size-desktop-h6: 18px;
$font-size-desktop-large-body: 18px;
$font-size-desktop-regular-body: 16px;
$font-size-desktop-small-body: 14px;
$font-size-desktop-tiny-body: 12px;

// weights
$font-weight-black: 900;
$font-weight-extrabold: 800;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-normal: 400;
$font-weight-light: 300;
$font-weight-thin: 200;
$font-weight-extrathin: 100;

// families
$font-family: 'Courier', 'Times New Roman', sans-serif;

// line height
$p1-line-height: 26px;
$p2-line-height: 22px;
$p3-line-height: 17px;
$p4-line-height: 16px;
