@import "css/utils.scss";

.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .turn-up {
      z-index: 999;
    }
  }

  .napolean {
    width: 200px;
    height: 200px;
    position: absolute;
  }
}
